---
import { Image } from "astro:assets";

interface Skill {
  title: string;
  iconSrc: any;
}

interface Props {
  title: string;
  icon: any;
  skills: Skill[];
  columns?: string;
}

const {
  title,
  icon: Icon,
  skills,
  columns = "grid-cols-2 sm:grid-cols-3",
} = Astro.props;
---

<article>
  <header class="flex-center mb-8 gap-2">
    <Icon aria-hidden="true" />

    <h3 class="font-poppins text-xl font-semibold text-blue-500 observed">
      {title}
    </h3>
  </header>

  <div class={`grid gap-5 ${columns}`}>
    {
      skills.map((skill) => (
        <div
          class="group skill-card observed flex flex-col items-center justify-center transition-all duration-300 hover:-translate-y-2 hover:shadow-xl"
        >
          <Image
            src={skill.iconSrc}
            alt={skill.title}
            loading="lazy"
            class="mb-4 size-11 transition-transform duration-300 group-hover:scale-110"
          />

          <span
            class="text-center text-sm font-medium text-slate-600 transition-colors duration-300 dark:text-slate-300"
          >
            {skill.title}
          </span>
        </div>
      ))
    }
  </div>
</article>